﻿#Box1{
  background: #595900;

    width: 82%;
    height: 20%;
    left: 9%;
    top: 10%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box2{
  background: #595900;

    width: 82%;
    height: 20%;
    top: 11%;
    left: 9%;
    position: relative;
    text-align: right;
  color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#Box3{
  background: #595900;

  width: 82%;
    height: 20%;
    top: 12%;
    left: 9%;
    position: relative;
    text-align: right;
  color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#Box4{
  background: #595900;

    width: 82%;
    height: 20%;
    left: 9%;
    top: 13%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box5{
  background: #595900;

    width: 82%;
    height: 20%;
    left: 9%;
    top: 14%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box6{
  background: #595900;

    width: 82%;
    height: 20%;
    left: 9%;
    top: 15%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box7{
  background: #595900;

    width: 82%;
    height: 20%;
    left: 9%;
    top: 16%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
