﻿#Box1{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 9%;
    top: 10%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box2{
  background: #595900;

    width: 20%;
    height: 25%;
    top: -15%;
    left: 40%;
    position: relative;
    text-align: right;
  color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#Box3{
  background: #595900;

  width: 20%;
    height: 25%;
    top: -40%;
    left: 71%;
    position: relative;
    text-align: right;
  color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#Box4{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 9%;
    top: -25%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box5{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 40%;
    top: -50%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box6{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 71%;
    top: -75%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box7{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 9%;
    top: -60%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box8{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 40%;
    top: -85%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box9{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 71%;
    top: -110%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box10{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 9%;
    top: -95%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box11{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 40%;
    top: -120%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box12{
  background: #595900;

    width: 20%;
    height: 25%;
    left: 71%;
    top: -145%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

}
#Box13{
  background: transparent;

 
        width: 100%;
    height: 43%;
    left: 0%;
    top: -140%;
    position: relative;
    text-align: right;
    color: #e5e5cc;
border-color: #000000;
border-style: solid;
border-width: 2%
}

