#pizza0{
	left:14%;
        top:-289%;
        position: relative;
        color:#e5e5cc;
}
#pizza1{
	left:45%;
        top:-315%;
        position: relative;
        color:#e5e5cc;
}
#pizza2{
	left:76%;
        top:-340%;
        position: relative;
        color:#e5e5cc;
}
#pizza3{
	left:14%;
        top:-326%;
        position: relative;
        color:#e5e5cc;
}
#pizza4{
	left:45%;
        top:-352%;
        position: relative;
        color:#e5e5cc;
}
#pizza5{
	left:76%;
        top:-377%;
        position: relative;
        color:#e5e5cc;
}
#pizza6{
	left:45%;
        top:-323%;
        position: relative;
        color:#e5e5cc;
}
#pizza7{
	left:14%;
        top:-388%;
        position: relative;
        color:#e5e5cc;
}
#pizza8{
	left:45%;
        top:-414%;
        position: relative;
        color:#e5e5cc;
}
#pizza9{
	left:76%;
        top:-440%;
        position: relative;
        color:#e5e5cc;
}
#pizza10{
	left:14%;
        top:-425%;
        position: relative;
        color:#e5e5cc;
}
#pizza11{
	left:76%;
        top:-451%;
        position: relative;
        color:#e5e5cc;
}