@media only screen and (min-width: 641px) {

  .top-bar-section {
    
height: 10%;
  
}
  
.top-bar-section ul {
    
position: relative;
    
top: -20px;
  
}
  
.top-bar-section li {
    
float: none !important;
    
display: inline-block;
    
width: 13%;
  
}
  
.top-bar-section .divider {
    
position: relative;
    
top: 20px;
  
}
.MapBox{
height: 40%;
width: 40%;
left:35%;
top:25%;
}
}

