#pizza0{
	left:14%;
        top:-332%;
        position: relative;
        color:#e5e5cc;
}
#pizza1{
	left:45%;
        top:-358%;
        position: relative;
        color:#e5e5cc;
}
#pizza2{
	left:76%;
        top:-383%;
        position: relative;
        color:#e5e5cc;
}
#pizza3{
	left:14%;
        top:-369%;
        position: relative;
        color:#e5e5cc;
}
#pizza4{
	left:45%;
        top:-395%;
        position: relative;
        color:#e5e5cc;
}
#pizza5{
	left:76%;
        top:-420%;
        position: relative;
        color:#e5e5cc;
}
#pizza6{
	left:45%;
        top:-366%;
        position: relative;
        color:#e5e5cc;
}
#pizza7{
	left:14%;
        top:-431%;
        position: relative;
        color:#e5e5cc;
}
#pizza8{
	left:45%;
        top:-457%;
        position: relative;
        color:#e5e5cc;
}
#pizza9{
	left:76%;
        top:-483%;
        position: relative;
        color:#e5e5cc;
}
#pizza10{
	left:14%;
        top:-468%;
        position: relative;
        color:#e5e5cc;
}
#pizza11{
	left:76%;
        top:-494%;
        position: relative;
        color:#e5e5cc;
}