html, body, #canvas-map {
  width:100%;
  height:100%;

}
#canvas-map{
 width: 70%;
    height: 100%;
    top: 0%;
    position: absolute;
}
a {color:red;}
a:hover {color:#f1f1f1;}
.infobox {
  background: none repeat scroll 0 0 #212121;
  color: #F1F1F1;
  font-family: arial;
  line-height: 20px;
  position: absolute;
}
.infobox:before, .infobox:after {
  border-color: transparent transparent transparent #212121;
  border-style: solid;
  border-width: 20px 20px 0;
  bottom: -1px;
  content: "";
  display: block;
  height: 0;
  left: -1px;
  position: absolute;
  width: 0;
  z-index:2
}
.infobox:after {
  border-color: transparent transparent transparent #FFFFFF;
  border-width:24px 24px 0;
  z-index:1
}
.infobox .close {
background: none repeat scroll 0 0 #212121;
cursor: pointer;
float: right;
font-size: 17px;
height: 25px;
line-height: 22px;
position: relative;
right: -25px;
text-align: center;
top: 0;
width: 25px;
}

.infobox .content {
  margin:15px 15px 15px 15px;
}