
#pizza1{
	left:45%;
        top:-316%;
        position: relative;
        color:#e5e5cc;
}
#pizza2{
	left:76%;
        top:-343%;
        position: relative;
        color:#e5e5cc;
}
#pizza3{
	left:14%;
        top:-329%;
        position: relative;
        color:#e5e5cc;
}
#pizza4{
	left:45%;
        top:-356%;
        position: relative;
        color:#e5e5cc;
}
#pizza5{
	left:76%;
        top:-383%;
        position: relative;
        color:#e5e5cc;
}
#pizza6{
	left:45%;
        top:-329%;
        position: relative;
        color:#e5e5cc;
}
#pizza7{
	left:14%;
        top:-396%;
        position: relative;
        color:#e5e5cc;
}
#pizza8{
	left:45%;
        top:-423%;
        position: relative;
        color:#e5e5cc;
}
#pizza9{
	left:76%;
        top:-449%;
        position: relative;
        color:#e5e5cc;
}
#pizza10{
	left:14%;
        top:-436%;
        position: relative;
        color:#e5e5cc;
}
#pizza11{
	left:76%;
        top:-463%;
        position: relative;
        color:#e5e5cc;
}

#pizza12{
	left:14%;
        top:-289%;
        position: relative;
        color:#e5e5cc;
}