#side24{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side13{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side14{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side15{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side16{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side17{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side18{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side19{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side20{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side21{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side22{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#side23{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}