﻿#Box{
  background: #a02d2d;

   width: 30%;
    height: 50%;
    left: 34%;
    top: 16%;
    position: absolute;
    text-align: right;
    color: #e5e5cc;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#SideSize{
left:43%;
top:50%;
position:absolute;
color: #e5e5cc;
}
#side{
	left:43%;
        top:22%;
        position: absolute;
        color:#e5e5cc;
}
