﻿#MapBox{
  background: #a02d2d;

  width: 45%;

  height: 40%;

  margin: 10.87%;
  left: 14.14%;  
 
 overflow: hidden;

  position: relative;

  
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

p {
    font-size: 150%;
    text-align: Center;
  color: #e5e5cc;
}
  