
#pizza1{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}

#pizza2{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}

#pizza3{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}

#pizza4{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza5{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza6{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza7{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza8{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza9{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza10{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}
#pizza11{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
}


#pizza12{
	height: 100%;
        object-fit: none;
        object-position: 50% 50%;
        
}





        //left:14%;
        //top:-332%;
        //position: relative;
        //color:#e5e5cc;